.header {
  background-color: rgb(157, 170, 183);
  display: block;
}
.navLink {
  display: inline-block;
  padding: 16px 32px;
  background-color: lightslategray;
}

.img {
  margin-top: 5px;
  width: auto;
  height: 40px;
}
.flexingNav {
  display: flex;
  justify-content: space-between;
}
